@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Estilos para el contenido desplegable del select */
.select-content {
  background-color: white;
  color: black;
}

/* Estilos para cada item del select */
.select-item {
  background-color: white;
  color: black;
}

/* Estilos para los títulos de cada pregunta del acordeón */
.accordion-trigger {
  font-weight: bold;
  color: #333; /* Color oscuro para mejor contraste */
}

/* Estilos para el contenido desplegado del acordeón */
.accordion-content {
  color: #444; /* Ligeramente más claro que el título, pero aún oscuro */
}

